server:
  port: 8090

spring:
  application:
    name: notification-service
  config:
    import: "optional:configserver:http://config-server:8888"
  
  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 20
        initial-interval: 3000
        max-interval: 10000

  kafka:
    consumer:
      bootstrap-servers: kafka:9092
      group-id: notification-group
      auto-offset-reset: earliest

      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer

      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: java.util,java.lang,ru.aston.kafka.dto


  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org.springframework.kafka.listener: DEBUG
    org.apache.kafka.clients.consumer: DEBUG
